@charset "UTF-8";

/* =====================================
               Global
=======================================*/
:root{
    /*Colors*/
    --co-Primary-red: hsl(0, 78%, 62%);
    --co-Primary-cyan: hsl(180, 62%, 55%);
    --co-Primary-orange: hsl(34, 97%, 64%);
    --co-Primary-blue: hsl(212, 86%, 64%);
    --co-Primary-blue-shadow: hsla(212, 86%, 64%, 20%);
    --co-Neutral-very-dark-blue: hsl(234, 12%, 34%);
    --co-Neutral-grayish-blue: hsl(229, 6%, 66%);
    --co-Neutral-very-light-gray: hsl(0, 0%, 98%);
    --co-Footer-link-blue: hsl(228, 45%, 44%);
    /*Fonts*/
    --ff-Poppins-Regular: "Poppins", sans-serif;
    --fs-12: 0.8rem;
    --fs-15: 1rem;
    --fs-20: 1.333rem;
    --fs-24: 1.6rem;
    --fs-36: 2.4rem;
    --fw-Light: 200;
    --fw-Regular: 400;
    --fw-Bold: 600;
    --fy-Style-normal: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

html, body {
    height: 100%;
}

html, body, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-Poppins-Regular);
    font-weight: var(--fw-Regular);
    font-size: var(--fs-15);
    font-style: var(--fy-Style-normal);
    background-color: var(--co-Neutral-very-light-gray);
    color: var(--co-Neutral-grayish-blue);
}
/* =====================================
            TEXT
=======================================*/

.main-header__subtitle {
    font-weight: var(--fw-Light);
    font-size: var(--fs-24);
    color: var(--co-Neutral-grayish-blue);
}

.main-header__title {
    font-weight: var(--fw-Bold);
    font-size: var(--fs-24);
    color:var(--co-Neutral-very-dark-blue);
    margin-bottom: 1.1rem;
}

.main-header p {
    font-weight: var(--fw-Regular);
    font-size: var(--fs-15);
}

.card__title {
    font-family: var(--ff-Poppins-Regular);
    font-weight: var(--fw-Bold);
    font-size: var(--fs-20);
    color: var(--co-Neutral-very-dark-blue);
    margin-bottom: 0.5rem;
}

.card__description {
    font-size: var(--fs-12);
    line-height: 1.6;
}

.footer {
    margin-top:2rem;
}
.footer__attribution {
    font-size: var(--fs-12);
    color: var(--co-Neutral-grayish-blue);
    text-align: center;
}

.footer__attribution a {
    color: var(-co-Footer-link-blue);
}

/* =====================================
             CONTAINERS
=======================================*/

.main {
    margin: 5.5rem 2.26rem 0 2.26rem;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.main-header {
    max-width: 36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5.6rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.card {
    max-width: 24rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: var(--co-Neutral-very-light-gray);
    box-shadow: 5px 10px 20px var(--co-Primary-blue-shadow);
    padding: 0.4rem 1.866rem 7.5rem 1.866rem;
    position: relative;
}

.card--1 {
    border-top: 3px solid var(--co-Primary-cyan);
}

.card--2 {
    border-top: 3px solid var(--co-Primary-red);
}

.card--3 {
    border-top: 3px solid var(--co-Primary-orange);
}

.card--4 {
    border-top: 3px solid var(--co-Primary-blue);
}

/* =====================================
                ICONS
=======================================*/

.card__description[data-icon="supervisor"]::after {
    content: "";
	background-image: url('./../images/icon-supervisor.svg');
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
	width: 64px;
	height: 64px;
    position: absolute;
    right: 3rem;
    top: calc(55% + 0.5rem);
}

.card__description[data-icon="team-builder"]::after {
    content: "";
	background-image: url('./../images/icon-team-builder.svg');
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
	width: 64px;
	height: 64px;
    position: absolute;
    right: 3rem;
    top: calc(55% + 0.5rem);
}

.card__description[data-icon="karma"]::after {
    content: "";
	background-image: url('./../images/icon-karma.svg');
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
	width: 64px;
	height: 64px;
    position: absolute;
    right: 3rem;
    top: calc(55% + 0.5rem);
}

.card__description[data-icon="calculator"]::after {
    content: "";
	background-image: url('./../images/icon-calculator.svg');
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
	width: 64px;
	height: 64px;
    position: absolute;
    right: 3rem;
    top: calc(55% + 0.5rem);
}
/* =====================================
                MEDIA QUERiES
=======================================*/

@media (min-width: 600px) {

    body {
        position: relative;
    }

    .main {
        margin: 0rem;
    }

    .main-header {
        margin: 0rem;
        padding: 0rem;
    }

    .main-header__subtitle {
        font-size: var(--fs-36);
        margin: 0;
    }

    .main-header__title {
        font-size: var(--fs-36);
        margin: 0;
    }

    .cards {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
        margin: 1rem 2.26rem;
    }

    .card {
        height: 16.88rem;
        display: flex;
        background-color: #FFF;
    }

    .card--1 {
        grid-column: 1;
        grid-row: 1 / span 2;
        align-self: center;
    }

    .card--2 {
        grid-column: 2 / 3;
        grid-row: 1/2;

    }

    .card--3 {
        grid-column: 2 / 3;
        grid-row: 2/3;

    }

    .card--4 {
        grid-column: 3;
        grid-row: 1 / span 2;
        align-self: center;
    }

    .footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        text-align: center;
    }

}